# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment folders
venv/
env/

# Ignore macOS or Windows hidden files
.DS_Store
Thumbs.db

# Ignore temporary files
*.log
*.tmp

# Ignore IDE settings (VS Code, PyCharm, etc.)
.vscode/
.idea/

